.add-photo-main {
  display: flex;
  margin: 0;
  justify-content: center;
}

.add-photo {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.select-image {
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 40%;
  height: 200px;
}

.select-image .input-box {
  border: 1px dashed gray;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.input-box {
  display: inline-block;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-box:hover {
  background-color: #e0e0e0;
}

.gallery-icon {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.upload-btn {
  outline: none;
  border: none;
  color: #fff;
  padding: 7px;
  width: 240px;
  margin-top: 25px;
  border-radius: 20px;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  justify-content: space-around;
  border-radius: 0;
  margin: 30px 5px;
  height: auto;
  width: 100%;
}

.image-container {
  display: grid;
  gap: 25px; /* Gap between images */
  padding: 40px 0;
  background: #ecf0f3;
  grid-template-columns: repeat(5, 1fr); /* 5 columns for desktop */
  border: 1px solid red;
}

.image-box {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.indivisual-image {
  margin: 10px 0px;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image-box button {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .select-image {
    padding: 0;
    width: 80%;
    height: 180px;
  }

  .upload-btn {
    width: 300px;
    border-radius: 10px;
  }

  .image-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
    padding-left: 25px;
  }

  .image-box {
    width: auto; /* Allow automatic width */
  }

  .image-container img {
    height: auto; /* Maintain aspect ratio */
  }
}
