.login-google-main {
  background: #fff;
  height: 89vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-google {
  width: 30%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
}
.login-back{
    /* border: 1px solid red; */
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-google-main .login-google button {
  width: 100%;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #FF004D;
  color: #fff;
  display: flex;
  align-items: center;
}
.login-info{
padding: 0.3rem 0px;
color: gray;
    font-size: 12px;
}