.alert {
  width: 50%;
  margin: 0px auto;
}
.review-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 30px;
}
.quotation-content {
  padding: 20px;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  width: 50%;
  height: 950px;
}

.company-details {
  display: flex;
  justify-content: space-between;
}
.company-details-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.company-details-1 img {
  width: 40px;
}

.whatsapp-box,
.call-box {
  display: flex;
}
.whatsapp-number,
.call-number {
  font-size: 13px;
}
.company-address span {
  font-size: 13px;
}
.blue-line {
  display: flex;
  align-items: center;
}
.blue-line .line {
  border: 1px solid #007bff;
  background: #007bff;
  width: 45%;
  height: 1px;
  border-radius: 20px;
}

.client-details-boxes {
  font-size: 12px;
}
.client-details-box {
  display: flex;
  justify-content: space-between;
}
.client-details-box span {
  width: 40%;
  padding: 2px;
}
.gray-line {
  width: 100%;
  height: 1px;
  background: #ddd;
  margin: 17px auto;
}

.item-box {
  border: 1px solid #ddd;
  width: 100%;
  height: 42%;
}
.item-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  font-weight: 500;
}
.sr-no {
  width: 10%;
  padding: 2px;
  text-align: center;
}
.description {
  width: 70%;
  padding: 2px;
  text-align: center;
}
.rate {
  width: 20%;
  padding: 2px;
  text-align: center;
}
.item-content {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.total-main {
  border: 1px solid #ddd;
  padding: 2px;
  border-top: none;
}
.item-total {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.item-total .null-space {
  width: 60%;
  text-align: center;
}
.item-total .field-name {
  width: 20%;
  text-align: center;
}
.item-total .field-value {
  width: 20%;
  text-align: center;
}
.term-and-condition {
  margin-top: 15px;
}
.term-and-condition h5 {
  text-align: center;
  font-size: 15px;
}
.term-and-condition span {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
.signature-box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 13px;
}
.soni-sign,
.client-sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.soni-sign img {
  width: 100px;
}
.sign-img {
  width: 70px;
  margin: 5px;
}
.action-button {
  width: 40%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-consent {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px 20px;
  width: 100%;
}
.sign-consent-1 {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
  justify-content: center;
}
.sign-consent .sign-button {
  width: 100%;
  background: #ff004d;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px;
  margin: 10px auto;
  border-radius: 15px;
}
.sign-button.disabled {
  background: #fd8bad;
}
.signed-successful {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px 20px;
  width: 100%;
}
.signed-successful-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download-share button {
  width: 50%;
  flex-direction: column;
  display: flex;
  padding: 10px;
  align-items: center;
}
.download-share {
  width: 100%;
  margin: 30px 0px;

  display: flex;
  justify-content: space-between;
}
.download-share button {
  outline: none;
  border: none;
  border-radius: 15px;
  width: 45%;
}

.reject {
  border: 1px solid #ddd;
  width: 100%;
  margin: 30px 0px;
  border-radius: 15px;
  padding: 10px 15px;
}
.rejection-reason {
  margin: 15px 0px;
}
.reject-button {
  margin: 10px 0px;
}
@media (max-width: 768px) {
  .alert {
    width: 100%;
    margin: 0px auto;
  }
  .review-main {
    padding: 0px;
  }
  .quotation-content {
    width: 90%;
    padding: 5px;
    margin: 10px auto;
    height: auto;
    border: 1px solid #ddd;
  }

  .company-details {
    display: flex;
    justify-content: space-between;
  }
  .company-details-1 {
    display: flex;
    align-items: center;
  }
  .company-details-1 img {
    width: 18px;
  }
  .company-details-1 p {
    font-size: 10px;
    padding-left: 3px;
  }
  .company-details-left {
    flex-direction: column;
    display: flex;
  }
  .whatsapp-number,
  .call-number {
    font-size: 7px;
  }
  .company-address span {
    font-size: 7px;
  }
  .whatsapp-box,
  .call-box {
    display: flex;
    align-items: center;
  }
  .whatsapp-icon,
  .call-icon {
    font-size: 7px;
  }
  .blue-line {
    font-size: 10px;
  }
  .client-details-box span {
    width: 50%;
    padding: 2px;
    font-size: 7px;
  }
  .client-details-box1 {
    font-size: 7px;
  }
  .gray-line {
    height: 0.5px;
    background: #ddd;
    margin: 7px auto;
  }
  .item-box {
    min-height: 190px;
  }
  .item-header,
  .item-content,
  .item-total {
    font-size: 7px;
  }
  .item-header .sr-no {
    width: 15%;
  }
  .term-and-condition {
    margin-top: 8px;
  }
  .term-and-condition h5 {
    font-size: 7px;
  }
  .term-and-condition span {
    display: flex;
    flex-direction: column;
    font-size: 6px;
  }
  .signature-box {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 6px;
  }
  .soni-sign,
  .client-sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .review-main .action-button {
    width: 90%;
    flex-direction: column;
    display: flex;
    margin: 10px auto;
    padding: 0px 0px;
  }
  .sign-consent {
    font-size: 14px;
    padding: 10px 5px;
  }
  .download-share {
    width: 100%;
    margin: 30px 0px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .download-share button {
    width: 100%;
    margin: 7px 0px;
  }
}
