header {
  display: flex;
  position: fixed;
  top: 0;
  border: 1px solid red;
}
.navbar {
  background: #ecf0f3;
}
ul li {
  list-style: none;
  padding-right: 40px;
  font-size: 17px;
}
ul li a {
  text-decoration: none;
  color: #000;
}
ul li .active {
  border-bottom: 2px solid #ff004d;
  padding-bottom: 5px;
  color: #ff004d;
}

.get-quote-btn {
  padding: 8px 15px;
  margin: 0px 40px;
  border: none;
  outline: none;
  background: #ff004d;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .container-fluid a{
    text-decoration: none;
  }
  ul li {
    margin: 10px 0px;
    padding: 5px;
    width: 100%;
  }
  ul li .active {
    border-bottom: none;
    padding-bottom: 5px;
    color: #ff004d;
  }
  .get-quote-btn {
    display: none;
  }
}
